* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: sans-serif;
}

.container {
  background-color: blue;
}

#goals,
#team {
  height: 330px;
}

#scopes,
#primary {
  height: 250px;
}
#timeline .icon-number {
  height: 40px;
  width: 40px;
  background-color: blueviolet;
}

i {
  font-size: 20px;
}

#timeline .icon-number span {
  margin-top: 25%;
  margin-left: 25%;
}
#timeline .timeline-content {
  border-bottom: 1px dotted blue;
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1200px) {
  #team {
    height: 430px;
  }
}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {
  #team {
    height: 430px;
  }
  #primary {
    height: 200px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  #goals {
    height: 370px;
  }

  #scopes {
    height: 340px;
  }
  #team {
    height: 420px;
  }
  #primary {
    height: 250px;
  }
}
